@import "../../../app";

.budgetSummary {
  .title {
    font-size: 25px;
    background: darkgray;
    color: white;
  }
  .body {
    background-color: gainsboro;
    color: black;
    .font-medium;
    &.net {
      border-top-style: double;
    }
  }

}