@import "./components/InputBox/input";
@import "./components/Rows/Transaction";

@link-color: #337ab7;
.app {
  background-color: aliceblue;
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}