@import "components/Dashboard/Transaction";
@import "components/Report/Summary/BudgetSummary";
@import "components/Report/Charts/BarChart";
@import "components/Report/Summary/Income";
@import "components/NavBar/Navbar";

@link-color: #337ab7;
@font-medium: 20px;
.app {
  background-color: aliceblue;
  min-height: 100vh;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  .dashboard-layout {
    height: 80vh;
    width: 85vw;

    .report-container {
      width: 100%;
      .header {
        margin-bottom: 50px;
        border-bottom: 4px double;
        color: black;
      }

      .summary-container {
        padding-left: 0;
      }
      .myChart {
        padding-right: 0px;
      }
    }
  }

}

.font-medium {
  font-size: 20px;
}

.grid {
  .font-medium;
  & > .row {
    height: 80px;
  }

  &.makeTable {
    .row:nth-child(even) {
      background-color: #F2F2F2;
    }

    .row:nth-child(odd) {
      background-color: #FFF
    }
  }

}

.login, .register {
  margin-left: 0 !important;

  li {
    &:hover {
      background: none !important;
    }
  }
}


